.season-text {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1.5rem;
  border-radius: 12px;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.season-image {
  border-radius: 12px;
}
  h2 {
    margin-bottom: 20px;
    font-weight: bold;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.6;
  }

